@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

//COLORS
//Primary
$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);

//Secondary
$red: hsl(0, 87%, 67%);

//Neutral
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);

//FONT
$font: "Poppins", sans-serif;
$fontMedium: 500;
$fontBold: 700;

//FONT SIZE
$h1: clamp(2.75rem, 1.3956rem + 3.7621vw, 4.6875rem);
$h2: clamp(2.3125rem, 1.4824rem + 2.3058vw, 3.5rem);
$h3: clamp(1.9375rem, 1.4569rem + 1.335vw, 2.625rem);
$h4: clamp(1.5625rem, 1.3004rem + 0.7282vw, 1.9375rem);
$h5: clamp(1.3125rem, 1.2251rem + 0.2427vw, 1.4375rem);
$h6: 18px;

//TEXT ALIGNMENT
$textStart: left;
$textCenter: center;
$textEnd: right;

//CONTAINER WIDTH
$containerXXL: 1320px;
$containerXL: 1140px;
$containerLG: 960px;
$containerMD: 720px;
$containerSM: 540px;
$containerXS: 90%;

//MIXINS
@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin grid {
  display: grid;
}
